# Forward ptp4l logs to remote syslog server
{% if syslog_transport == 'tcp' %}
if $programname == 'ptpd' then @@{{ syslog_server_ip }}:{{ syslog_server_port }}
{% else %}
if $programname == 'ptpd' then @{{ syslog_server_ip }}:{{ syslog_server_port }}
{% endif %}
& stop
