[Unit]
Description=TCP Server
After=network.target

[Service]
ExecStartPre=/bin/sh -c 'echo "" > {{ log_dir }}/tcp.log'
ExecStart={{ repo_dest }}/trafGen/tcp_server -p {{ tcp_server_port }}
StandardOutput=file:{{ log_dir }}/tcp.log
StandardError=file:{{ log_dir }}/tcp.log
Restart=always

[Install]
WantedBy=multi-user.target