[Unit]
Description=Connection Tracking Logger
After=network.target

[Service]
ExecStart={{ repo_dest }}/connectiontrackingProgram/conntrack_logger -n {{ inventory_hostname }} --lsip {{ syslog_server_ip }} -c yes -H -r {{ syslog_server_ip }}

StandardOutput=file:{{ log_dir }}/conntrack_logger.log
StandardError=file:{{ log_dir }}/conntrack_logger.log
Restart=always

[Install]
WantedBy=multi-user.target
